@font-face {
  font-family: "Trip Sans Reg";
  src: url("/assets/font/TripSans-Regular.woff2") format("woff2"),
    url("/assets/font/TripSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trip Sans Med";
  src: url("/assets/font/TripSans-Medium.woff2") format("woff2"),
    url("/assets/font/TripSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bw Modelica";
  src: url("/assets/font/BwModelica-Regular.woff2") format("woff2"),
    url("/assets/font/BwModelica-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bw Modelica";
  src: url("/assets/font/BwModelica-Bold.woff2") format("woff2"),
    url("/assets/font/BwModelica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
